/* Player Representation */

.guy {
    background-image: url('../resources/guy.gif');
    transition-property: left, top;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}


.guyFacingDown {
    background-position-y: 0px;
}
.guyFacingRight {
    background-position-y: 32px;
}
.guyFacingUp {
    background-position-y: 64px;
}
.guyFacingLeft {
    background-position-y: 96px;
}


.guyMoving {
    animation: animateGuy 0.3s steps(4) infinite;
}
.guyLastMove {
    animation: animateGuy 0.3s steps(4);
}
@keyframes animateGuy {
    100% {background-position-x:128px; }
}
